@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:wght@300;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,200;1,300&display=swap");
body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Fjalla One", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header style start */
.icons-img {
  height: 1.5rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: #EEEEEE;
  min-height: 5vh;
  font-size: 1.3rem;
}
nav a {
  text-decoration-line: none;
  color: black;
  padding: 0.5rem;
}
nav ul li:last-child {
  /* background-color: violet; */
  /* display: flex; */
  padding-bottom: 0.5rem;
}

.nav2 {
  display: flex;
  background-color: #EEEEEE;
  margin-top: 0.5rem;
  padding: 0.5rem;
}
.nav2 .search {
  background-color: #dedede;
  display: flex;
  align-items: center;
  margin-left: 13rem;
  padding-right: 20rem;
  border-radius: 0.3rem;
  opacity: 80%;
}
.nav2 .search img {
  margin-left: 0.5rem;
}
.nav2 .search > input {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 15px;
  border: none;
  cursor: pointer;
  width: 20rem;
  outline: none;
}
.nav2 .heart-basket {
  display: flex;
  /* align-self: flex-end; */
  margin-left: 25rem;
}
.nav2 .heart-basket > img:first-child {
  /* background-color: red; */
  margin-right: 0.5rem;
}

/* header style end */
/* home page style start */
.homePage {
  display: flex;
  flex-direction: column;
}
.homePage .banner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.homePage .banner h1 {
  display: flex;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.5px;
}
.homePage .banner img {
  height: auto;
  width: 30rem;
}
.homePage .banner .artist-collection {
  width: 83rem;
  height: 3rem;
  background-color: white;
  opacity: 80%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}
.homePage h2 {
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.homePage .all-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  gap: 5rem;
}
.homePage .all-products img {
  height: 20rem;
}
.homePage .all-products .product p {
  margin-bottom: 1rem;
}
.homePage .all-products .product h5 {
  margin-top: 3rem;
}
.homePage .all-products .product .shadow {
  box-shadow: -10px 10px #8D8DAA;
  border-style: solid;
  border-width: 2px;
  border-radius: 1rem;
}

/*  home page style end */
/* footer style start  */
footer {
  display: flex;
  width: 100%;
  background-color: #8D8DAA;
  color: white;
}
footer div {
  padding: 1rem 0.5rem;
}
footer div.sitemap {
  width: 20%;
  text-align: right;
}
footer div.social {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
}
footer div.social img {
  width: 2rem;
  margin: 0 0.5rem;
}
footer div.sitemap, footer div.social {
  position: relative;
}
footer div.sitemap::after, footer div.social::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 100%;
  width: 2px;
  height: calc(100% - 1rem);
  background-color: white;
}
footer div.address {
  width: 20%;
}

/* footer style end  */

/*# sourceMappingURL=style.css.map */
